.firstdiv{
    background-color: black;
    color:whitesmoke;
    display: flex;
    top: 0;
}

#Molling{
    text-align: center;
}

#topmostpara1{
    margin-left: 20%;
    margin-bottom: 0;
    margin-top: 2%;
    margin-left: 10%;
    padding-left: 1px;
}

#topmostpara{
    margin-left: 20%;
}


#getfreeestimate{
    color: whitesmoke;
    font-weight: bold;
}

#emailicon{
    width: 25px;
}


/* nav section */

.seconddiv1{
    display: flex;
    margin-top: 2%;
    gap: 50px;
}


#emaillink{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#emailicon{
    margin-top: 2%;
    padding: 10px;
    margin-bottom: 5px;
}

#topnavbar{
    display: flex;
    gap: 50px;
    margin-left: 30%;
}


.topnavbar{
    text-decoration: none;
    color: black;
    font-size:large;
    font-weight: bold;
}


/* secondmaindiv */

.secondmaindiv{
display: flex;
margin-top: 1%;
gap: 1000px;
}


.seconddiv2{
    display: flex;

}

#phoneicon{
    width: 25px;
}





/* BODY DIV */

.body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./webimages/backgroundimage.jpeg');
    background-size: cover;
    height: 900px;
    margin-top: 2%;
    position: relative;

}


#backgroundwordz{
    margin-left: 50%;
    margin-top: 2%;
}
#backgroundword{
    margin-left:3% ;
    margin-top:3%;

    
    
}

#bu{
    background-color: orange;
    color: whitesmoke;
    margin-top: 5%;
    margin-left: 40%;
    border-radius: 1px;
    height: 70px;
    width: 300px;
}

.smfyf{
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    
}

.mv{
    text-align: center;
    color: whitesmoke;
    font-size: 100px;
    font-weight: bolder;
}



/* <!-- AFTER THE BACKGROUND IMAGE --> */

#learnaboutus{
    color: orange;
    font-weight: bold;
    font-size: medium;

    
}

.flexeddivs{
    display: flex;
    gap: 200px;
}



#wordflex{
    display: flex;
    gap: 50px;
}

#riaadsince{
    color: orange;
    font-weight: bold;
}

#y2007{
    font-weight: bolder;
    font-size: xx-large;

}

/* icons in line */

.iconinlines{
    display: flex;
    gap: 50px;
    margin-left: 100px;
}

/* <!-- our services section --> */

#ourservices{
    color: orange;
    margin-top: 70%;
    font-weight: bolder;
    margin-left: 40%;
}

#whatwedo{
    margin-left: 40%;
    font-weight: bolder;
    font-size: xx-large;
    
}

#servicesdiv{
    display: flex;
    margin-left: 15%;
    gap: 20%;
}

#storage{
    
    width: 100px;
}

#servicelinks{
    color: orange;
    font-weight: bold;
}


#smallvid{
    display: flex;
    gap: 700px;
    margin-top: 10%;
}

#p2{
    font-size: xx-large;
    padding: 5px;
    margin-left: 10%;
    font-style:initial;
    font-weight: 900;
    padding-right: 5px;
}

#smallvideo{
    height: 300px; 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./webimages/video.jpg');
    width: 600px;
}

#video{
    display: flex;
    
}

#videopara{
    font-weight: bold;
    color: rgb(38, 37, 37);
}

#playbutton{
    margin: 20%;
    margin-left: 45%;
    
}





/* we are leading in moving business */

.riaadverified{
    border: 1px rgb(112, 112, 164);
    background-color: rgb(65, 65, 242);
    width: 700px;
    height: 600px;
    
}


#riaadverified{
margin-top: 10%;
height: 500px;
width: 600px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./webimages/riaadverified.webp');
padding: 4px;


}

#borderveri{
    border: 2px;
    background-color: aliceblue;
    width: 250px;
    height: 150px;
    margin-left: 10%;
    margin: 20%;
    margin-top: 10%;
    padding: 10px;
}


#innerpara{
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 15%;
    font-size: larger;
}

#innerlink{
    color: orange;
    font-weight: bold;
    text-align: center;
    margin-left: 15%;
}

#doyou{
    color: whitesmoke;
    font-weight: bolder;

}






.biggerdiv{
    display: flex;
    gap: 400px;
    height: 700px;

}

#choose{
    margin-top: 10%;

}



.yellowticks{
    display: flex;
}

.chooselink{
    color: orange;
    font-weight: bold;
}



#paragraph{
    font-size: large;
    margin-bottom: 15%;
}

.paraz1{
    margin-bottom: 15%;
    font-size: xx-large;
    font-weight: bolder;
}

.paraz{
    font-weight: lighter;
    font-size: x-large;

}





#book{
    text-align: center;
    color: rgb(63, 62, 62);
    margin-top: 5%
}

#bookonline{
    color: orange;
    font-weight: bolder;
}




/* div with form */

#formdiv{
    border: 2px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./webimages/form.jpg');
    background-size: cover;
    height: 700px;
    padding-bottom: 50px;
}


#formbutton{
    margin: 30%;
    width: 170px;
    margin-top:15% ;
    margin-left: 40%;
}



#wholeform{
    display: flex;
    height: 400px;
    margin-bottom: 5%;
}




#bookuslink{
    color: whitesmoke;
    font-weight: bolder;
    margin-left: 20%;
    margin-top: 20%;
    
}


#bookuspara{
    color: whitesmoke;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 20%;
    font-size: x-large;
}





#formdiv1{
    border: 2px;
    background-color: orange;
    width: 30%;
}

#formdiv2{
    background-color: rgb(60, 60, 231);
    width: 70%;

}

#allforms{
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 2%;
}



#form1{
    display: flex;
    gap: 20px;
    margin-bottom: 5%;
}

#movingtype{
    color: whitesmoke;
    font-weight: bolder;
    font-size: large;
}




#form2{
    display: flex;
    gap: 20px;
    margin-bottom: 5%;

    
}

#movingtype{
    color: whitesmoke;
    font-weight: bolder;
    font-size: large;}



#input{
height: 50px;
width: 200px;
}



#form3{
    display: flex;
    gap: 20px;
    margin-bottom: 5%;
}




#movingtype{
    color: whitesmoke;
    font-weight: bolder;
    font-size: large;}



#forbutton{
    margin-top: 2%;
}



#buttonstyle{
    color: whitesmoke;
    background-color: orange;
    font-weight: bolder;
    border-radius: 5px;
    height: 55px;
    width: 210px;

}





/* our testimonials */



#testimonials{
    color: orange;
    font-size: small;
    font-weight: bolder;
    margin: 30%;
    margin-top: 40%;
    margin-left: 45%;
}



#theysay{
    color: black;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}




#comments{
    display: flex;
    gap: 100px;
    margin-left: 25%;
    
}



#christine{
    color: orange;
    text-decoration: none;
    font-weight: bolder;
}

#customer{
    color: rgb(72, 70, 70);
    font-weight: bold;
    margin-left: 25%;
}



#quotes{
    margin-left: 25%;
}

#christine{
    width: 30px;
    border-radius: 50px;
    margin-left: 25%;
}


.para{
    margin-bottom: 10%;
    padding: 10%;
}





#join{
    margin-left: 45%;
    margin-top: 10%;
}

#NEWSLETTER{
    color: orange;
    font-weight: bolder;
    font-size: small;
}

#updates{
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}


#emailandnow{
    display: flex;
    gap: 400px;
    margin-left: 30%;
    margin-top: 5%;
}





#buttonnow{
    background-color: orange;
    color: whitesmoke;
    font-size: smaller;
    font-weight: bolder;
    border-radius: 2px;
    height: 50px;
    width: 200px;
    padding: 10px;
}


#blognew{
    margin-left: 45%;
    margin-top: 5%;
}

#ourblog{
    color: orange;
    font-weight: bold;
    font-size: small;
}

#new{
    color: black;
    font-weight: bolder;
    font-size: xx-large;
}


#images{
    display: flex;
    gap: 50px;
    margin-left: 15%;
    margin-bottom: 10%;
}

#img1{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./webimages/img1.jpg');
    height: 400px;
    width: 400px;
    background-size: cover;
}

#img2{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./webimages/img2.jpg');
    height: 400px;
    width: 400px;
    background-size: cover;
}

#img3{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./webimages/img3.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
}



#p1{
    color:rgb(94, 93, 93);
    font-size: smaller;
    margin-bottom: 50%;
    padding: 10%;
}
#p21{
    font-weight: bolder;
    font-size: x-large;
    color: whitesmoke;
    margin-top:50%;


}



#footerdiv{
    background-color: orange;
    height: 190px;
}


#foot{
    display: flex;
    gap: 120px;
    margin-left: 20%;
}


#pdiscover{
    font-size: larger;
    color: whitesmoke;
    font-weight: bolder;

    margin-top: 20%;
}

#discover{
    background-color: black;
    color: whitesmoke;
    margin-top: 20%;
    height: 60px;
    width: 200px;
}

#phoneadd{
    color:gray;
    font-weight: bolder;

}

#el{
    font-weight: bolder;
    color: whitesmoke;
}

#le{
    color: gray;
    font-weight: bold;
}


#footerdiv1{
    background-color: black;
    margin-top: 0%;
    
}


#fo{
    display: flex;
    gap: 200px;
    margin-left: 20%;
    color: whitesmoke;
}