@media all and(max-width: 480px){
    body{

    }
}


.div1{
    top: 0;
    background-color: black;
    color: white;
    height: 40px;
    
}

#firstpara{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;

}


.navdivs{
    margin-left: 20%;
    display: flex;
    gap: 50px;
}

.smoothmoving{
    margin-left: 35%;
    margin-top: 10%;

}

#parasmo{
    font-weight: bolder;
    color: azure;
    font-size: xx-large;
    text-align: center;
    

}



.topnavbar{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

#riaadlogo{
    margin: 20%;
}

#divnav{
    display:flex;
}

.divwithbackgroundimage{
    background-image: url('./webimages/background.avif');
    height: 700px;
    width: 100%;
    background-size: cover;
    position: absolute;
}
    

#logo{
    margin-left: 20%;
}

#services{
    display: flex;
    gap: 70px;
    margin-left: 20%;
    


}

#ourservice{
    color: orange;
}

#whatwedo{
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 10%;
}

#whatwedo{
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 40%;

}

#parasmoo{
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    margin-left: 20%;
}

.smoothmoving{
    margin-left: 5%;
}

#makeiteasy{
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    margin-left: 20%;
    color: aliceblue;
}


#serve{
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: black;

}

#help{
    display: flex;
    gap: 20px;
    margin-left: 20%;
}


#helppara{
font-weight: bolder;
font-size: x-large;
}



#getstartedbutton{
    background-color:orange;
    margin-top: 2%;
    margin-left: 40%;
    height: 50px;
    width: 120px;
    align-content: center;
    

}

#learnaboutus{
    color: orange;
    font-weight: bold;
}

#linkinbutton{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
}

.twodivs{
    display: flex;
}

.divs{
    display: flex;
}






/* Footer */

.footerdiv{
    border: 2px solid;
    width: 100%;
}


#imagefooter{
    background-image: url('./webimages/pic1.png');
    background-size: cover;

}

.footersubdiv{
    display:flex;
}


.bookusnow{
    border: 1px yellow;
    background-color: yellow;
    width: 30%;

}


.movingtype{
    background-color: blue;
    width: 40%;
}

#datediv{
    background-color: blue;
    width: 40%;
    
}




.feedback{
    display: flex;
    padding: 30px;
    align-content: center;
}

#feedback1{
    padding: 40px;
}

#feedback2{
    padding: 40px;
}

#feedback3{
    padding: 40px;
}


#subsribe{
    display: flex;
    margin-left: 20%;
}


.div123{
    display: flex;
    padding: 30px

}

#div01{
border: 1px;
background-image: url('./webimages/pic4.jpg');
width: 100px;
padding: 40px;
align-content: center;
}

#div02{
    width: 100px;
padding: 40px;
background-image: url('./webimages/pic4.jpg');

}

#div03{
    background-image: url('./webimages/pic4.jpg');
    width: 100px;
padding: 40px;
}



.mainfooter{
    background-color: orange;
}

#buttonpara{
    font-weight: bolder;
    color: whitesmoke;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom:0%;
    padding: 70px;
    font-size: x-large;

}

#discoverbutton{
    background-color: black;
    color: white;
    height: 50px;
    margin-left: 80%;
    margin-top: 0;
    margin-bottom: 5%;
}

.enddiv{
    background-color: black;
    color: whitesmoke;
    display: flex;
    gap: 80px;

}

#address{
    color: gray;
}

#enddiv1{
    margin-left: 30%;
}


#enddiv3{
    text-decoration: none;
}

#link1{
    text-decoration: none;
    color:gray;
}




.pagebottom{
    background-color: black;
    color: gray;
}